* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  width: 100%;
}
.header-menu-left {
  text-align: left;
}
ul {
  display: inline-block;
}
li {
  display: inline-block;
  padding-right: 7px;
}
div.container {
  font-family: 'Roboto', sans-serif;
}
header {
  color: #fff;
  background-color: #25292D;
  padding-top: 5px;
  padding-bottom: 5px;
}
input {
  background-color: #404447;
  width: 250px;
  height: 30px;
  border-style: none;
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
a:hover {
  color: #BEBFC0;
}
i.fa-github {
  font-size: 35px;
  text-align: left;
  padding-left: 30px;
  padding-right: 0;
  padding-top: 10px;
}
.fa-caret-down {
  padding-left: 5px;
}
div>a>img {
  height: 250px;
  width: 250px;
  overflow: hidden;
  position: absolute;
}
aside {
  margin-left: 100px;
  margin-top: 15px;
}
